@tailwind base;
html {
  @apply bg-white;
  @apply text-black;
  letter-spacing: -0.025em;
  font-family: 'Apercu', sans-serif;
}
h1 {
  @apply text-5xl;
  @apply font-bold;
  letter-spacing: -0.05em;
}
h2 {
  @apply text-4xl;
  letter-spacing: -0.05em;
}
h3 {
  @apply text-3xl;
  letter-spacing: -0.05em;
}
h4{
  @apply text-2xl;
  letter-spacing: -0.05em;
}
h5{
  @apply text-xl;
  letter-spacing: -0.05em;
}
a {
  @apply text-black;
}
img,
svg {
  @apply max-w-full;
}
p {
  @apply text-sm;
}

label{
  @apply text-sm;
  font-family: 'IBM Plex Mono', sans-serif;
}

@tailwind components;
@tailwind utilities;
